body{
    font-family: 'Poppins', sans-serif;
    margin:10px 20px 40px 20px;
}
.banner-area{
    width:100%;
    height:100vh;
    background: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    line-height: 15px;
    
}
.content h1{
    font-size: 60px;
    color:#fff;
    font-weight: 900;
}
.content p{

    color: #ddd;
}
.content .btn{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
    color: #eee;
    font-size: 18px;
    background: #222;
}
/* step one end*/
.donate{
    text-align: center;
    line-height: 15px;
    margin-top: 100px;
  
}
.donate h1{
    font-size: 40px;
    font-weight: 700;

}
.donate p{
    margin-top: auto;
}
.amount{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.amount-type{
    width: 110px;
    height: 60px;
    background-color: rgb(29, 231, 231);
margin: 10px;

}
.amount-details h1{
padding-bottom: 400px;
margin:4px 3px 5px 5px

}
.h-edit{
    margin: 4px 3px 5px 5px;
    border: 2px solid gray;
    width: 105px;
    height: fit-content;
}
.amount-details2 h1{
    padding-bottom: 400px;
    margin:4px 3px 5px 5px
}
.amount-details3 h1{
    padding-bottom: 400px;
    margin:4px 3px 5px 5px
}
.amount-details4 h1{
    padding-bottom: 400px;
    margin:4px 3px 5px 5px
}

/* second step end*/
.donate-now{
    text-align: center;

}
.donate-now .btn1{
    font-size: larger;
    padding: 10px;
    background-color: brown;
    color: white;
    border-radius: 4px;
}

.main-box-item{
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.item{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.img-icon{
    width: 50px;
    margin-left: 0px;
    justify-content: left;
    text-align: left;
}

/* there have something missig*/
.donation-deffend{
    display: flex;
    margin: 100px;
}
.donation-deffend-on img{
    width:100%;
    height: 400px;
    margin-right: 10px;

}
.donation-deffend-1{
    width: 50%;
    line-height: 15px;
    margin-left: 50px;

}
.donation-deffend-1 h1{
font-size: 50px;
font-weight: 700;

}
.donation-deffend-1 .btn2{
    font-size: larger;
    background-color: goldenrod;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
footer{
    position: absolute;
    display: block;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 20px;
    

}
footer h1{
    color: brown;
}
