body{
    font-family: 'Poppins', sans-serif;
    margin:10px 20px 40px 20px;
}
.banner-area{
    width:100%;
    height:100vh;
    background: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    line-height: 15px;
    
}
.content h1{
    font-size: 60px;
    color:#fff;
    font-weight: 900;
}
.content p{

    color: #ddd;
}
.content .btn{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
    color: #eee;
    font-size: 18px;
    background: #222;
}
/* step one end*/
.donate{
    text-align: center;
    line-height: 15px;
    margin-top: 100px;
  
}
.donate h1{
    font-size: 40px;
    font-weight: 700;

}
.donate p{
    margin-top: auto;
}

.amount2 h1{
    width: 110px;
    height: 80px;
    border: 1px solid rgb(36, 7, 65);
    background-color: #ddd;
   
}
.amount1{
    width: 100px;
    height: 80px;
    background-color: lightgray;
}
.amount3{
    width: 110px;
    height: 80px;
    background-color: lightgray;
}

.amount4{
    width: 110px;
    height: 80px;
    background-color: lightgray;
}
.amount5{
    width: 110px;
    height: 80px;
    background-color:lightgray;
}
.amount{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
    padding: 40px;
}